In [1]:
import numpy as np
import pandas as pd

# 读取纯文本文件

## 1、读取csv

In [2]:
fpath = "../msft_class.csv"

In [3]:
# 使用pd.read_csv读取数据，然后转成DataFrame格式给rating
rating = pd.read_csv(fpath)

In [4]:
# 查看前几行(默认前5行)
rating.head()

     Date    Open    High     Low   Close  Adj Close    Volume
0  9/3/19  136.61  137.20  135.70  136.04     136.04  18869300
1  9/4/19  137.30  137.69  136.48  137.63     137.63  17995900
2  9/5/19  139.11  140.38  138.76  140.05     140.05  26101800
3  9/6/19  140.03  140.18  138.20  139.10     139.10  20824500
4  9/9/19  139.59  139.75  136.46  137.52     137.52  25773900

In [5]:
# 查看数据的形状，返回(行数，列数)
rating.shape

(20, 7)

In [6]:
# 查看列名列表
rating.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [7]:
# 查看索引列
rating.index

RangeIndex(start=0, stop=20, step=1)

In [8]:
# 查看每列的数据类型
rating.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

## 2、读取txt文件，自己指令分隔符，列名

In [9]:
fpath = "../datas/access_pvuv.txt"

In [10]:
pvuv = pd.read_csv(
    fpath,
    sep="\t",
    header=None,
    names=['pdate', 'pv', 'uv']
)
pvuv

        pdate   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

## 3、读取excel文件

In [11]:
fpath = "../datas/access_pvuv.xlsx"
# 使用read_excel()函数读取excel文件
pvuv = pd.read_excel(fpath)
pvuv

           日期   PV   UV
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

## 3、读取MySQL数据库中的数据

这里使用`read_sql()`函数读取数据库中的表

In [ ]:
# 因为没有搭建数据库，就不做演示了（附上代码）
mysql_page = pd.read_sql("select * from mytable", con=conn)

# 这里第一个参数运用了sql语句，第二个参数是用pymysql连接的数据库连接变量