In [1]:
import pandas as pd
import numpy as np

![](https://gitee.com/rogerskelamen/mdpic/raw/master/img/QQ截图20210125145754.png)

# Pandas数据结构

1. Series
2. DataFrame
3. 从DataFrame中查询出Series

## 1.Series

Series是一种类似于一位数组的对象

它由一组数据（可以不同的数据类型）和与之相关的数据标签（索引）组成。

In [2]:
# 由数据列表就可以生成最简单的Series
s1 = pd.Series([1, 2, 'a', 5, 7])
s1

0    1
1    2
2    a
3    5
4    7
dtype: object

In [3]:
# 获取索引
s1.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
# 获取数据
s1.values

array([1, 2, 'a', 5, 7], dtype=object)

### 创建自定义的索引

In [6]:
s2 = pd.Series([1, 2, 'a', 5.2, 7], ['b', 'd', 'c', 'a', 'e'])
s2

b      1
d      2
c      a
a    5.2
e      7
dtype: object

In [7]:
s2.index

Index(['b', 'd', 'c', 'a', 'e'], dtype='object')

### 使用python字典创建Series

In [9]:
sdata={'Ohio':35000,'Texas':72000,'Oregon':16000,'Utah':5000}
s3 = pd.Series(sdata)
s3

Ohio      35000
Texas     72000
Oregon    16000
Utah       5000
dtype: int64

### 根据标签索引查询数据

类似Python的字典dict

In [10]:
s3['Ohio']

35000

In [11]:
# 同样用之前的方法创建的Series也可以类似查询
s2['a']

5.2

In [12]:
# 用type()函数查看数据的类型
type(s2['a'])

float

In [13]:
# 可利用列表形式查询多个数据
s2[['b','a']]

b      1
a    5.2
dtype: object

In [14]:
type(s2[['b','a']])

pandas.core.series.Series

## 2. DataFrame

DataFrame是一个表格型的数据结构

- 每列可以是不同的值类型（数值、字符串、布尔值等）
- 既有行索引index,也有列索引columns
- 可以被看做由Series组成的字典

创建dataframe最常用的方法，见读取纯文本文件、excel、mysql数据库

### 2.1 根据多个字典序列创建dataframe

In [15]:
data={
        'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
        'year':[2000,2001,2002,2001,2002],
        'pop':[1.5,1.7,3.6,2.4,2.9]
    }
df = pd.DataFrame(data)
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [16]:
# 列出每一列的数据类型
df.dtypes

state     object
year       int64
pop      float64
dtype: object

In [17]:
# 列出行索引
df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [18]:
# 列索引
df.index

RangeIndex(start=0, stop=5, step=1)

## 3. 从DataFrame中查询出Series

- 如果只查询一行、一列，返回的是pd.Series
- 如果查询多行、多列，返回的是pd.DataFrame