# 十分钟入门Pandas

> 其实这篇文章不咋行，还不如看[这篇文章](https://www.cnblogs.com/xiaoyuanqujing/articles/11646477.html)

首先我们以下面方式引入Pandas和Numpy:

In [1]:
import numpy as np
import pandas as pd

咱们的两种数据类型：

Series 和 DataFrame

Series是一种类似于一维数组的对象，由一组数据和一组与之相关的数据标签(索引)组成

它的索引默认是从0开始的自然数

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

用含日期时间索引与标签的 NumPy 数组生成 DataFrame：

In [3]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.103469 -0.615933  1.736502  0.372711
2013-01-02  0.070026 -0.548740 -1.059688 -0.148553
2013-01-03  0.529232  0.956898  0.110793  0.031372
2013-01-04  1.217563  1.983354 -1.310368  1.457445
2013-01-05  1.338969  0.812148  0.042439 -0.924412
2013-01-06 -1.521585 -0.249171  0.358475  1.130000

可以看到第一个参数是传入的数据，没传参默认是`NaN`，`index`是行的索引，`columns`是行的索引

用 Series 字典对象生成 DataFrame:

In [5]:
 df2 = pd.DataFrame({'A': 1.,
                     'B': pd.Timestamp('20130102'),
                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                     'D': np.array([3] * 4, dtype='int32'),
                     'E': pd.Categorical(["test", "train", "test", "train"]),
                     'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

这就是DataFrame的另一种生成方式，在里面放上字典

**字典的键是每一列的索引值，值是一个Series类型**

**数据表自动找到最长的Series值，然后扩展到那个长度**

*需要注意的是：这里的 DataFrame 的列有不同数据类型 。*

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

IPython支持 tab 键自动补全列名与公共属性。下面是部分可自动补全的属性：

In [8]:
df2.<TAB>

df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.clip_lower
df2.align              df2.clip_upper
df2.all                df2.columns
df2.any                df2.combine
df2.append             df2.combine_first
df2.apply              df2.compound
df2.applymap           df2.consolidate
df2.D

SyntaxError: invalid syntax (<ipython-input-8-311e379d1abf>, line 1)

列 A、B、C、D 和 E 都可以自动补全；为简洁起见，此处只显示了部分属性。

# 查看数据

下列代码说明如何查看 DataFrame 头部（head）和尾部（tail）数据：

In [9]:
df.head()

                   A         B         C         D
2013-01-01 -0.103469 -0.615933  1.736502  0.372711
2013-01-02  0.070026 -0.548740 -1.059688 -0.148553
2013-01-03  0.529232  0.956898  0.110793  0.031372
2013-01-04  1.217563  1.983354 -1.310368  1.457445
2013-01-05  1.338969  0.812148  0.042439 -0.924412

这里未输入参数时，默认输出的是 头 5行。

In [10]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.217563  1.983354 -1.310368  1.457445
2013-01-05  1.338969  0.812148  0.042439 -0.924412
2013-01-06 -1.521585 -0.249171  0.358475  1.130000

显示索引与列名：

In [16]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

## 类型转换查看

注意，DataFrame 的列由多种数据类型组成时，该操作耗费系统资源较大，这也是 Pandas 和 NumPy 的本质区别：**NumPy 数组只有一种数据类型，DataFrame 每列的数据类型各不相同。**

调用 `DataFrame.to_numpy()` 时，Pandas 查找支持 DataFrame 里所有数据类型的 NumPy 数据类型。还有一种数据类型是 object，可以把 DataFrame 列里的值强制转换为 Python 对象。

下面的 df 这个 DataFrame里的值都是浮点数，`DataFrame.to_numpy()` 的操作会很快，而且不复制数据。

In [18]:
df.to_numpy()

array([[-0.10346871, -0.61593291,  1.7365017 ,  0.37271083],
       [ 0.07002626, -0.54873996, -1.05968766, -0.14855294],
       [ 0.52923217,  0.95689819,  0.11079329,  0.03137231],
       [ 1.21756263,  1.98335428, -1.31036831,  1.4574451 ],
       [ 1.33896853,  0.81214831,  0.0424386 , -0.92441219],
       [-1.52158478, -0.24917103,  0.3584745 ,  1.13000013]])

相反，`df2` 这个 DataFrame (opens new window)包含了多种类型，DataFrame.to_numpy() (opens new window)操作就会耗费较多资源。

In [19]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

用 `describe()` 可以快速查看数据的统计摘要：

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.255123  0.389759 -0.020308  0.319761
std    1.048397  1.033444  1.095039  0.872246
min   -1.521585 -0.615933 -1.310368 -0.924412
25%   -0.060095 -0.473848 -0.784156 -0.103572
50%    0.299629  0.281489  0.076616  0.202042
75%    1.045480  0.920711  0.296554  0.940678
max    1.338969  1.983354  1.736502  1.457445

DataFrame这种表一样的数据类型因为排列起来像矩阵，于是就有了转置数据：

In [21]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.103469    0.070026    0.529232    1.217563    1.338969   -1.521585
B   -0.615933   -0.548740    0.956898    1.983354    0.812148   -0.249171
C    1.736502   -1.059688    0.110793   -1.310368    0.042439    0.358475
D    0.372711   -0.148553    0.031372    1.457445   -0.924412    1.130000

按轴排序：

In [22]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.372711  1.736502 -0.615933 -0.103469
2013-01-02 -0.148553 -1.059688 -0.548740  0.070026
2013-01-03  0.031372  0.110793  0.956898  0.529232
2013-01-04  1.457445 -1.310368  1.983354  1.217563
2013-01-05 -0.924412  0.042439  0.812148  1.338969
2013-01-06  1.130000  0.358475 -0.249171 -1.521585

按值排序：

In [23]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-01 -0.103469 -0.615933  1.736502  0.372711
2013-01-02  0.070026 -0.548740 -1.059688 -0.148553
2013-01-06 -1.521585 -0.249171  0.358475  1.130000
2013-01-05  1.338969  0.812148  0.042439 -0.924412
2013-01-03  0.529232  0.956898  0.110793  0.031372
2013-01-04  1.217563  1.983354 -1.310368  1.457445

# 选择

## 获取数据

选择单列，产生 Series，与 df.A 等效：

In [24]:
df['A']

2013-01-01   -0.103469
2013-01-02    0.070026
2013-01-03    0.529232
2013-01-04    1.217563
2013-01-05    1.338969
2013-01-06   -1.521585
Freq: D, Name: A, dtype: float64

用 `[ ]` 切片行：

In [27]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.103469 -0.615933  1.736502  0.372711
2013-01-02  0.070026 -0.548740 -1.059688 -0.148553
2013-01-03  0.529232  0.956898  0.110793  0.031372

In [26]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.070026 -0.548740 -1.059688 -0.148553
2013-01-03  0.529232  0.956898  0.110793  0.031372
2013-01-04  1.217563  1.983354 -1.310368  1.457445

## 按标签选择

> 这里用“标签选择”一般指的是`loc[]`函数

用标签提取一行数据：

In [28]:
df.loc[dates[0]]

A   -0.103469
B   -0.615933
C    1.736502
D    0.372711
Name: 2013-01-01 00:00:00, dtype: float64

> 始终别忘了我们的行索引是用`date_range()`生成的dates

> 所以这里的`dates[0]`其实等效于`'20130101'`

用标签选择多列数据：

In [29]:
df.loc[:, ['A', 'B']]

                   A         B
2013-01-01 -0.103469 -0.615933
2013-01-02  0.070026 -0.548740
2013-01-03  0.529232  0.956898
2013-01-04  1.217563  1.983354
2013-01-05  1.338969  0.812148
2013-01-06 -1.521585 -0.249171

用标签切片，包含行与列结束点：

In [30]:
df.loc['20130102':'20130104', ['A', 'B']]

                   A         B
2013-01-02  0.070026 -0.548740
2013-01-03  0.529232  0.956898
2013-01-04  1.217563  1.983354

**我们可以看到`loc[]`的标签选择实际上第一个参数是行，第二个参数是列**

*很容易让我们产生列能不能切片的疑惑，所以我们来试一试：*

In [32]:
df.loc[dates[0]:dates[3], 'B':'C']

                   B         C
2013-01-01 -0.615933  1.736502
2013-01-02 -0.548740 -1.059688
2013-01-03  0.956898  0.110793
2013-01-04  1.983354 -1.310368

*哦，事实证明我们是对的(～￣▽￣)～*

提取标量值（提取单个数据）：

In [33]:
df.loc[dates[0], 'A']

-0.10346870709670397

快速访问标量，与上述方法等效：

In [38]:
df.at[dates[0], 'A']

-0.10346870709670397

## 按位置选择

> 如果说`loc[]`函数是按标签选择的话，那么`iloc[]`就被称为按位置选择（也就是说全是整数）

用整数位置选择：

In [34]:
df.iloc[3]

A    1.217563
B    1.983354
C   -1.310368
D    1.457445
Name: 2013-01-04 00:00:00, dtype: float64

类似 NumPy / Python，用整数切片：

In [35]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04  1.217563  1.983354
2013-01-05  1.338969  0.812148

**可以看出这个`iloc[]`函数也是按照<u>第一个参数是行，第二个参数是列</u>的规则来的**

用整数列表按位置切片：

In [36]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02  0.070026 -1.059688
2013-01-03  0.529232  0.110793
2013-01-05  1.338969  0.042439

显式提取值（还是选择一个数据）：

In [37]:
df.iloc[1, 1]

-0.5487399588019662

快速访问标量，与上述方法等效：

In [39]:
df.iat[1, 1]

-0.5487399588019662

*还是和之前一样是`at[]`函数，只不过这个也是加上了i*

## 布尔索引

用单列的值选择数据：

In [40]:
df[df.A > 0]

                   A         B         C         D
2013-01-02  0.070026 -0.548740 -1.059688 -0.148553
2013-01-03  0.529232  0.956898  0.110793  0.031372
2013-01-04  1.217563  1.983354 -1.310368  1.457445
2013-01-05  1.338969  0.812148  0.042439 -0.924412

选择 DataFrame 里满足条件的值（*注意这里会显示一个全表*）：

In [41]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN       NaN  1.736502  0.372711
2013-01-02  0.070026       NaN       NaN       NaN
2013-01-03  0.529232  0.956898  0.110793  0.031372
2013-01-04  1.217563  1.983354       NaN  1.457445
2013-01-05  1.338969  0.812148  0.042439       NaN
2013-01-06       NaN       NaN  0.358475  1.130000

用 `isin()` 筛选：

In [51]:
df['E'] = [1, 2, 3, 4, 5, 6]
df[df['E'].isin([1, 4])]

                   A         B         C         D  E
2013-01-01 -0.103469 -0.615933  1.736502  0.372711  1
2013-01-04  1.217563  1.983354 -1.310368  1.457445  4

# 赋值

赋值其实就是在选择的基础上进行的，然后**将要赋予的值用等号赋予就行了**

# 缺失值

Pandas 主要用 np.nan 表示缺失数据。 计算时，默认不包含空值。

*总感觉不太对，应该是NaN吧，np不是第三方库吗*